
<div class="mat-dialog">
  <h2 mat-dialog-title>Buscar información de Episodio</h2>
  <mat-dialog-content style="width: 100%;">
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="BuscarEpisodio()">
      <mat-form-field style="width: 100%;">
        <input id="name" formControlName="numeroEpisodio" matInput placeholder="Nº del episodio" style="width: 100%;">
      </mat-form-field>
    </form>
    <mat-dialog-actions style="display: flex; justify-content: right;">
      <button mat-raised-button mat-dialog-close (click)="BuscarEpisodio()">Buscar</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
