
  <mat-toolbar style="display: flex; background-color: rgba(115, 0, 255, 0.405);">
    <div style="flex-basis: 5%;">
      <button (click)="homess()" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <div style="flex-basis: 10%;">
      <span style="color: rgb(0, 0, 0); font-size: x-large; font-family: 'Courier New', Courier, monospace; font-weight: 800;">Rick & Morty</span>
    </div>

    <div style="flex-basis: 10%; display: flex; justify-content: center;">
      <button style="color: rgb(0, 0, 0); font-size: x-large; font-family: 'Courier New', Courier, monospace; font-weight: 800;" mat-button (click)="openDialog()">
        <mat-icon class="mat-18">search</mat-icon>

        Episodio
      </button>
    </div>

    <div style="flex-basis: 10%; display: flex; justify-content: center;">
      <button mat-button [matMenuTriggerFor]="menu" style="color: rgb(0, 0, 0); font-size: x-large; font-family: 'Courier New', Courier, monospace;font-weight: 800;">
        <mat-icon class="mat-18">keyboard_double_arrow_down</mat-icon>
        Planeta
      </button>
      <mat-menu #menu="matMenu">
        @for(item of locations; track $index ){
          <button
          style="background-color: rgba(115, 0, 255, 0.122); margin-top: 5px; margin-bottom: 5px;"
          mat-menu-item (click)="BuscarPorPlaneta(item.id)">
          <span style="font-family: 'Courier New', Courier, monospace;">{{item.name}}</span></button>
        }
      </mat-menu>
    </div>

    <div style="flex-basis: 10%; display: flex; justify-content: center;">
      <button mat-button [matMenuTriggerFor]="menu1" style="color: rgb(0, 0, 0); font-size: x-large; font-family: 'Courier New', Courier, monospace; font-weight: 800;">
        <mat-icon class="mat-18">keyboard_double_arrow_down</mat-icon>
        Especie
      </button>
      <mat-menu #menu1="matMenu" >
        @for(item of nameEspecies; track $index){
          <button style="background-color: rgba(115, 0, 255, 0.122); margin-top: 5px; margin-bottom: 5px;" mat-menu-item (click)="BuscarPorEspecie(item)"><span style="font-family: 'Courier New', Courier, monospace;">{{item}}</span>
          </button>
        }
      </mat-menu>
    </div>

  </mat-toolbar>


<router-outlet />