
  <mat-toolbar style="display: flex; background-color: rgba(115, 0, 255, 0.405);">
    <div style="flex-basis: 5%;">
      <button (click)="homess()" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <div style="flex-basis: 10%;">
      <span>Rick & Morty</span>
    </div>

    <div style="flex-basis: 10%; display: flex; justify-content: center;">
      <button mat-button (click)="openDialog()">Episodio</button>
    </div>

    <div style="flex-basis: 10%; display: flex; justify-content: center;">
      <button mat-button [matMenuTriggerFor]="menu">Planeta</button>
      <mat-menu #menu="matMenu" style="height: 500px;">
        @for(item of locations; track $index ){
          <button mat-menu-item (click)="BuscarPorPlaneta(item.id)">{{item.name}}</button>
        }
      </mat-menu>
    </div>

  </mat-toolbar>


<router-outlet />