<mat-card [ngClass]="class" style="box-shadow: 3px 3px 10px 10px rgba(2, 0, 4, 0.21); background-color:rgba(113, 178, 104, 0.992) ;">
  <div>
    <img mat-card-image src="{{image}}" alt="{{name}}" [ngStyle]="{'width': widthVariable, 'height': heightVariable, 'border-radius': pepe}">
  </div>

  <div>
    <mat-card-header style="display: flex; justify-content: left; align-items: start; padding: 2%; padding-left: 7%;">
      <mat-card-title style="width: 150px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{name}}</mat-card-title>
      <mat-card-subtitle><strong>Specie:</strong> {{specie}}</mat-card-subtitle>
      <mat-card-subtitle><strong>Gender:</strong> {{gender}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions style="display: flex; justify-content: center;">
      <button class="boton-mas-info" mat-button (click)="personajeIndividual(id)">Más Info</button>
    </mat-card-actions>
  </div>
</mat-card>

